<router-outlet></router-outlet>
<div class="widgets">
	<div class="row show-grid ng-scope">
		<div class="col-md-4" *ngFor='let clock of clocks | async' style="text-align:center;">
			<ba-card title={{clock.employee}} >
				<div class="cn">
					<div *ngIf='clock.clocked_on_date != ""' class="inner">{{clock.clocked_on_date}}</div>
					<div class="inner">{{clock.status}}</div>
					<div class="inner">{{clock.job_no}}</div>
					<div *ngIf='clock.part_des != ""' class="inner">{{clock.part_des}}</div>
				</div>
				<div class="button-wrapper">
					<button type="button" class="btn btn-success btn-lg button-full-width" [style.background]="clock.color" [style.border-color]="clock.color" (click)="button_details(clock.job_no)">Details</button>
				</div>
			</ba-card>
		</div>
	</div>
</div>